# Node.js
node_modules/
.next/
out/
build/
dist/
.vercel

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
ENV/

# Databases
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
